.header {
  display: flex;
  padding: 5px;
  width: 100%;
  background-color: #f1f1f1;
  justify-content: center;
  font-size: 13px;
}
.header .wrapper {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.header .wrapper .left {
  display: flex;
  flood-color: #000;
}
.header .wrapper .right {
  display: flex;
  flood-color: #000;
}
.header .wrapper .right ul {
  display: flex;
}
.header .wrapper .right ul li {
  padding: 0 10px;
  display: flex;
  position: relative;
}
.header .wrapper .right ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  height: 90%;
  width: 1.5px;
  background-color: #000;
}
.header .wrapper .right ul li:nth-last-child(1) {
  padding: 0 0 0 10px;
  border: none;
}
.logoSearch {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #fff;
}
.logoSearch .wrapper {
  overflow: visible !important;
  display: flex;
  width: 85%;
  height: 106px;
  justify-content: space-between;
  align-items: center;
}
.logoSearch .leftLogo {
  display: flex;
  width: 455px;
  height: 86px;
  background: url(../imege/logo.png) no-repeat;
  background-size: 100% 100%;
}
.logoSearch .rightSearch {
  display: flex;
  height: 36px;
  background-color: #f3f3f3;
}
.logoSearch .rightSearch .input {
  border: 0;
  width: 300px;
  outline: none;
  background-color: transparent;
  padding-left: 15px;
}
.logoSearch .rightSearch .input_submit {
  border: 0;
  color: #fff;
  outline: none;
  line-height: 36px;
  font-size: 15px;
  width: 100px;
  background-color: #0168b5;
  display: flex;
  align-content: center;
  justify-content: center;
}
.logoSearch .rightSearch .input_submit a {
  margin-right: 5px;
}
.nav {
  line-height: 50px;
  height: 50px;
  background-color: #0168b5;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1000;
}
.nav .navul {
  display: flex;
  width: 85%;
}
.nav .navul .navli {
  width: 85px;
  text-align: center;
}
.nav .navul .navli:hover .ulson {
  display: block;
}
.nav .navul .navli .ulson {
  position: absolute;
  z-index: 1001;
  width: 85px;
  background-color: #407298;
  display: none;
}
.nav .navul .navli .ulson .lison:hover {
  background-color: #182a38;
}
.swip {
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
}
.swip .wrapper {
  display: flex;
  width: 85%;
  height: 300px;
  background-color: aquamarine;
}
.news {
  margin-top: 20px ;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.news .wrapper {
  width: 85%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.news .wrapper .left {
  background-color: #fff;
  height: 400px;
  width: 65%;
  display: flex;
  justify-content: center;
}
.news .wrapper .left .wrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
}
.news .wrapper .left .wrapper .ul {
  height: 12%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.news .wrapper .left .wrapper .ul .news2 {
  font-size: 16px;
  display: flex;
  /* 新增 */
  align-items: center;
  /* 垂直居中 */
  justify-content: center;
  /* 水平居中 */
  width: 75px;
  background-color: #fff;
  border-bottom: 2px solid #12df56;
  position: relative;
  bottom: -1px;
  color: #0166b6;
}
.news .wrapper .left .wrapper .ul .dain {
  width: 50px;
  background-color: aqua;
}
.news .wrapper .left .wrapper .left-bottom {
  background-color: #fff;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.news .wrapper .left .wrapper .left-bottom .lun1 {
  width: 45%;
  height: 100%;
  background-color: blueviolet;
}
.news .wrapper .left .wrapper .left-bottom .opion {
  width: 54%;
  height: 100%;
  background-color: #fff;
}
.news .wrapper .left .wrapper .left-bottom .opion ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news .wrapper .left .wrapper .left-bottom .opion ul li {
  margin: 1;
}
.news .wrapper .right {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
}
.news .wrapper .right .right-top {
  background-color: #fff;
  height: 75%;
}
.news .wrapper .right .right-bottom {
  background-color: #181818;
  height: 20%;
}
.lun1 html,
.lun1 body {
  position: relative;
  height: 100%;
}
.lun1 body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.lun1 .swiper {
  width: 100%;
  height: 100%;
}
.lun1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lun1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lun1 .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.lun1 .swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
.link {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.link .wrapper {
  width: 85%;
  background-color: #fff;
}
.link .wrapper .top {
  border-bottom: 1.5px solid #e4e3e3;
}
.link .wrapper .top span {
  margin-top: 10px;
  bottom: -1px;
  display: block;
  width: 104px;
  color: #000;
  font-size: 16px;
  position: relative;
  text-align: center;
  border-bottom: 2px solid #0168b5;
}
.link .wrapper ul {
  display: flex;
  flex-wrap: wrap;
}
.link .wrapper ul li {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 16px;
  margin-left: 10px;
}
.link .wrapper ul li a {
  font-size: 16px;
}
.link .wrapper ul li:last-child {
  margin-right: 0;
}
.dinymic {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.dinymic .wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: white;
}
.dinymic .wrapper .top {
  width: 97%;
  margin: 20px auto;
  margin-bottom: 20px;
  border-bottom: 1.5px solid #e4e3e3;
  position: relative;
}
.dinymic .wrapper .top::after {
  content: '';
  position: absolute;
  bottom: -1.5px;
  left: 0;
  width: 104px;
  border-bottom: 2px solid #0168b5;
}
.dinymic .wrapper .top span {
  margin-left: 20px;
  display: inline-block;
  font-size: 16px;
  color: #0168b5;
  padding-bottom: 5px;
}
.dinymic .wrapper .top .two {
  margin-left: 74px;
  color: #000;
}
.dinymic .wrapper .bd ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.5%;
  margin-right: 1.5%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.dinymic .wrapper .bd ul li {
  width: 49%;
  height: 85px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}
.dinymic .wrapper .bd ul li .pic {
  height: 100%;
}
.dinymic .wrapper .bd ul li .pic img {
  height: 85px;
  object-fit: cover;
}
.dinymic .wrapper .bd ul li h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.dinymic .wrapper .bd ul li p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  overflow: hidden;
}
.schoolpic {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.schoolpic .wrapper {
  width: 85%;
  background-color: #fff;
}
.schoolpic .wrapper .top {
  width: 97%;
  margin: 20px auto;
  margin-bottom: 20px;
  border-bottom: 1.5px solid #e4e3e3;
  position: relative;
}
.schoolpic .wrapper .top::after {
  content: '';
  position: absolute;
  bottom: -1.5px;
  left: 0;
  width: 104px;
  border-bottom: 2px solid #0168b5;
}
.schoolpic .wrapper .top span {
  margin-left: 20px;
  display: inline-block;
  font-size: 16px;
  color: #000;
  padding-bottom: 5px;
}
.schoolpic .wrapper .box {
  width: 97%;
  margin: 20px auto;
  display: flex;
}
.schoolpic .wrapper .box .left {
  width: 40%;
  position: relative;
  overflow: hidden;
  /* 鼠标悬停放大效果 */
}
.schoolpic .wrapper .box .left img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.3s ease;
  /* 添加过渡效果 */
  display: block;
}
.schoolpic .wrapper .box .left:hover img {
  transform: scale(1.1);
  /* 放大1.1倍 */
  cursor: pointer;
}
.schoolpic .wrapper .box .left p {
  display: flex;
  color: #888;
  justify-content: center;
  margin-top: 30px;
}
.schoolpic .wrapper .box .left:hover p {
  color: #007aff;
}
.schoolpic .wrapper .box .right {
  width: 58%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* 鼠标悬停放大效果 */
}
.schoolpic .wrapper .box .right .rightbox {
  width: 31%;
  height: 50%;
  overflow: hidden;
}
.schoolpic .wrapper .box .right .rightbox img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.3s ease;
  /* 添加过渡效果 */
}
.schoolpic .wrapper .box .right .rightbox p {
  display: flex;
  color: #888;
  justify-content: center;
  margin-top: 3px;
}
.schoolpic .wrapper .box .right .rightbox:hover p {
  color: #007aff;
}
.schoolpic .wrapper .box .right .rightbox:hover img {
  transform: scale(1.1);
  /* 放大1.1倍 */
  cursor: pointer;
}
.bottom {
  width: 100%;
  background-color: #0168b5;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
}
