.header {
  display: flex;
  padding: 5px;
  width: 100%;
  background-color: #f1f1f1;
  justify-content: center;
  font-size: 13px;
}
.header .wrapper {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.header .wrapper .left {
  display: flex;
  flood-color: #000;
}
.header .wrapper .right {
  display: flex;
  flood-color: #000;
}
.header .wrapper .right ul {
  display: flex;
}
.header .wrapper .right ul li {
  padding: 0 10px;
  display: flex;
  position: relative;
}
.header .wrapper .right ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  height: 90%;
  width: 1.5px;
  background-color: #000;
}
.header .wrapper .right ul li:nth-last-child(1) {
  padding: 0 0 0 10px;
  border: none;
}
.logoSearch {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #fff;
}
.logoSearch .wrapper {
  display: flex;
  width: 85%;
  height: 106px;
  justify-content: space-between;
  align-items: center;
}
.logoSearch .leftLogo {
  display: flex;
  width: 455px;
  height: 86px;
  background: url(../imege/logo.png) no-repeat;
  background-size: 100% 100%;
}
.logoSearch .rightSearch {
  display: flex;
  height: 36px;
  background-color: #f3f3f3;
}
.logoSearch .rightSearch .input {
  border: 0;
  width: 300px;
  outline: none;
  background-color: transparent;
  padding-left: 15px;
}
.logoSearch .rightSearch .input_submit {
  border: 0;
  color: #fff;
  outline: none;
  line-height: 36px;
  font-size: 15px;
  width: 100px;
  background-color: #0168b5;
}
.nav {
  display: flex;
  background-color: #0168b5;
  color: white;
  width: 100%;
  justify-content: center;
}
.nav .ulson {
  display: none;
}
