@font-face {
  font-family: "iconfont"; /* Project id 4911670 */
  src: url('iconfont.woff2?t=1746193560575') format('woff2'),
       url('iconfont.woff?t=1746193560575') format('woff'),
       url('iconfont.ttf?t=1746193560575') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-RectangleCopy:before {
  content: "\e6a2";
}

